*{
  --black: #000000;
  --grey: #808080;
  --white: #fff;
}

body {background-color: var(--black);
}
.button{
    text-align: center;
    border-radius: 7px;
    padding: 7px;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    background-color: var(--grey);
    color: black;
}
ul {display: flex;
    justify-content: left;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {float: left;
}
li a{font-size: 32px;
    color: var(--white);
    background-color: var(--black);
    text-align: center;
    padding: 12px 16px;
    transition: 450ms;
    text-decoration: none;
    border-radius: 5px;
}
.selected {
    background-color: #3a444b;
}
li a:hover {
    background-color: #C0C0C0;
}
.Logo {width: 160px;
    height: 60px;
    margin-right: 5px;
    border-radius: 3px;
    float: left;
}
/*Index Page Grids*/
.HomeGrid {
    display: grid;
    padding-left: 10px;
    padding-right: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    border-radius: 25px;
}
.imagestyling {
    width: 100%;
    height: 420px;
}
.HomeGrid div {
    border: 3px solid var(--grey);
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
    height: fit-content;
    background-color: #504b4b;
}
.HomeGrid img {
    max-width: 100%;
    border-radius: 10px;
    display: block;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}
.HomeGrid h2 {
    margin-bottom: 0px;
    text-align: center;
    color: black;
}
.HomeGrid p {
    margin: 0px;
    margin-bottom: 1%;
}
.HomeGrid a {
    text-align: center;
    margin: 0px;
}
/*PC or Computer*/
@media only screen and (min-width: 1200px) {
    .HomeGrid div:nth-child(3n-2) {grid-column: 1 / span 2;}
    .HomeGrid div:nth-child(3n-1) {grid-column: 3 / span 2;}
    .HomeGrid div:nth-child(3n) {grid-column: 5 / span 2;}
}
/*Between PC or Computer and Phone*/
@media only screen and (min-width: 650px) and (max-width: 1200px) {
    .HomeGrid div:nth-child(odd) {grid-column: 1 / span 3;}
    .HomeGrid div:nth-child(even) {grid-column: 4 / span 3;}
}
/*Phone*/
@media only screen and (max-width: 650px) {
    .HomeGrid div {grid-column: 1 / span 6;}
}
/*End Of Index Page Grids*/
